@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Poppins;
}

body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.phone {
    padding: 12px 20px;
    min-width: 300px;
}

h1 {
    margin-bottom: 20px;
}

a {
    display: inline-block;
    margin-top: 20px;
    color: #000;
}

span {
    color: red;
    font-weight: 800;
}